@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for About Dropdown Menu */
.relative:hover .absolute {
    opacity: 1;
    visibility: visible;
}

/* Styling for Sign Up button */
.button {
    transition: transform 0.1s ease;
}

/* Styling for Navigation Bar links */
.button:hover {
    transform: translateY(2px);
}

.link {
    transition: color 0.3s ease;
    
}


.relative>.link {
    padding: .5rem 0;
}

.space { margin-bottom: 400px; }
