@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styling for About Dropdown Menu */
.relative:hover .absolute {
    opacity: 1;
    visibility: visible;
}

/* Styling for Sign Up button */
.button {
    transition: transform 0.1s ease;
}

.button:hover {
    transform: translateY(2px);
}